

<div class="jumbotron">
  <h3 class="site-title">Welcome to Snowcial</h3>
  <p class="site-title">
    Snowcial is a social platform for the snowsports community. Snowcial provides you with a fast and easy way to create and share your winter adventures with your friends and the community at large. Create trips, invite your friends, share your adventures!
  </p>
  <%= link_to "Plan your first Trip!", new_trip_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="jumbotron">
  <%= render partial: "/trips/feed", locals: {trips: @trips} %>
</div>
