<% @trips.each do |trip| %>
<div class='jumbotron site-text'>
  <div> <%= link_to trip.name, trip_path(trip) %></div>
  <div> <%= trip.description %></div> 
  <div>  <%= trip.trip_location %></div>
  <div>  <%= trip.date %></div>
</div>
<% end %>
