<div class="jumbotron">
  <p>Forcast.io</p>
</div>

<div class="jumbotron">
  <% if current_user %>
    <h2 class="site-text">Plan your trip!</h2>
    <%= render partial: "form" %>
  <% end %>
</div>


