<h3 class="mix-title">Your Epicmix stats for: </h3>
<p class="mix-title">The <%= @client.season_stats.last['year'] %> season</p>
<p class="mix-data">
  Vertical Feet: <%= @client.season_stats.last['verticalFeet'] %><br/>
  Runs: <%= @client.season_stats.last['numberOfLifts'] %><br/>
  Day on the Mountain: <%= @client.season_stats.last['daysOnMountain'] %>
</p>