/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.alert-alert {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-success;
}
.em-push {
  padding-top: 70px;
  height: 50px;
}

.modal-dialog#photo {
  height:   0px;
  width:    0px;
  position: absolute;
  top: 10%;
  left: 30%;
  margin: 0;
}



.thumbnail#trip {
  background: rgba(10, 10, 10, 0.7);
  height: 175px;
  color: white;
}
.thumbnail#feed {
  background: rgba(10, 10, 10, 0.7);
  height: auto;
  padding: 10px;
  margin-top: 10px;
}

.thumbnail#email {
  background: rgba(10, 10, 10, 0.7);
  height: 250px;
  padding: 10px;
}

.panel#trip {
  background: rgba(10, 10, 10, 0.8);
  height: 450px;
  color: white;
}

.list-group-item#trip {
  background: rgba(10, 10, 10, 0.7);
  height: 100px;
  border: 0px;
  margin-bottom: 10px;
  color: white;
}

.col-md-9#trip {
  color: white;
}

html, body {
  margin: 20px;
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
   background: rgba(10, 10, 10, 0.8);
   height: auto;
}

.thumbnail {
   background: rgba(0, 0, 0, 0.8);
   border-width: 0;
   height: 400px;    
}

.navbar {
   background: rgba(0, 0, 0, 0.8);
}

.group-title {
  color: rgba(200, 200, 200, 1.0);
}

.btn#btn-custom {
  background: rgba(50, 50, 50, 0.9);
  color: rgba(200, 200, 200, 1.0);  
}

.site-text {
  color: white;
  text-align: center;
}

.site-txt-b {
  color: #D6E0EB;
  text-align: center;
}

.site-title {
  color: white;
}

// New users home page

.welcome-box {
  -webkit-box-shadow: inset 0 0 100px rgba(10, 10, 10, 0.8);
          box-shadow: inset 0 0 100px rgba(10, 10, 10, 0.8);
}

.create-trip {
  margin-left: auto;
  margin-right: auto;
}

// Users show page

.float-rt {
  float:right;
}

.profile-img {
  height: 200px;
  width: 190px;
  box-shadow: 10px 10px 5px #888888;
}

// new trip page

.form-box {
  width: auto;
  margin-bottom: 5px;
}

.form-control-custom {
  width: 200px;
  border-width: 0;
  border-radius: 5px;
  margin-bottom: 5px;
}

.center-btn {
  margin-top: 10px;
}

// trip index

#thumb {
  height: 150;
  width: 150;
}

// trip show page

.trip-img {
  height: 400px;
  width: 380px;
  box-shadow: 10px 10px 5px #888888; 
}

.scroll-feed {
  height:   400px;
  width:    auto;
  overflow: auto;
}

.user-scroll-feed {
  height:   600px;
  width:    auto;
  overflow: auto;
}

.search-text-box {
  opacity:0.4;
  border-radius:15px;
  color:#000;
  text-align:center;
  margin-top:12px;
}

.text {
  color: white;
}

.panel#users {
  background: rgba(10, 10, 10, 0.8);
  height: 110px;
  margin-left: 0px;
}

.panel#feed {
  background: rgba(10, 10, 10, 0.8);
  width: 100%;
}

.col-md-4#feed-title {
  padding-left: 0px;
}

.col-md-8#feed-title {
  padding-right: 0px;
}

.col-md-4#photo{
  padding: 10px;
}

.col-md-6#instagram {
  padding-left: 0px;
}

.trip-des {
  color: #297ACC;
}

